.list {
  background-color: rgb(240, 240, 240, 0.3);
  margin: 4px 0;
  padding: 4px;
}

.list_body {
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.list_body_today {
  background-color: rgba(0, 217, 255, 0.295);
}

.list_body_yesterday {
  display: flex;
  justify-content: center;
}

.precent_red {
  color: red;
}

.precent_green {
  color: green;
}
